@charset "UTF-8";

/* 変数の定義 */
:root {
  --content-width: 750px;
  --min-content-width: 375px;
}
html {
  scroll-behavior: smooth;
  /* コンテンツ幅でのフォントサイズ */
  font-size: clamp(1px, calc(32 / 750 * 100vw), 32px);
  background-color: white;
}

body {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding-bottom: clamp(1px, calc(98 / 750 * 100vw), 98px);
  box-shadow: 0 0 8px rgba(33, 33, 33, 0.5);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h2 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 1em;
  font-weight: bolder;
}
form {
  padding: clamp(1px, calc(64 / 750 * 100vw), 64px) 8%;
  line-height: 1.3;
  font-weight: 700;
}
form div {
  margin-bottom: 0.5em;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
fieldset legend {
  margin-bottom: 0.5em;
}
fieldset label {
  display: block;
  margin-right: 1em;
}
label {
  margin-bottom: 0.5em;
  font-weight: 400;
}
div label {
  font-weight: 700;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  border: solid 1px #b4882a;
  line-height: 1.5;
  margin-bottom: 1em;
  font-weight: 500;
}
input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
input[type="tel"]:focus-visible,
textarea:focus-visible {
  border: solid 1px blue;
}
.school {
  margin-bottom: 1em;
}
.school input {
  margin-bottom: 0.5em;
}
.school small {
  font-weight: 400;
  line-height: 1.3;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 3em;
  font-size: 1.5;
  color: black;
  font-weight: 500;
  border-radius: 1em;
  background-color: orange;
  filter: drop-shadow(0 0.3em 0.2em rgba(33, 33, 33, 0.5));
  transition: 0.3s;
}
button:hover {
  opacity: 0.6;
}
footer {
  max-width: var(--content-width);
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 999;
}
footer a.line {
  width: 26.7%;
}
footer a.apply {
  width: 46.6%;
}
footer a.tel {
  width: 26.7%;
}
footer a {
  transition: 0.3s;
}
footer a:hover {
  opacity: 0.6;
}
